/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #003366;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list li {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-list.show {
    display: flex;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

section {
    padding: 50px;
    text-align: center;
}

#home {
    background-color: #e6f2ff;
    color: #003366;
    background: url('https://d.top4top.io/p_3244y1qpy0.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#about, #contact {
    background-color: #f0f8ff;
    padding: 50px 20px;
}

.project {
    margin: 20px 0;
    border: 1px solid #003366;
    padding: 20px;
    border-radius: 10px;
    background-color: #e6f2ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.animate__animated {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate__animated.animate__fadeIn {
    opacity: 1;
}

.animate__animated.animate__fadeInUp {
    opacity: 1;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}